@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind keyframes;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@layer components {
  .title-box {
    @apply relative flex justify-center	self-center
  }

  .title {
    @apply absolute flex justify-center self-center w-screen
  }

  .section {
    @apply absolute flex justify-center self-center w-screen 
  }
}

html,
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

input:focus {
  outline: none;
  color: #68798094;
}


.custom-shape-divider-top-1638858916 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1638858916 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1638858916 .shape-fill {
  fill: #CEE5D0; 
} 

/* C8E3D4 */